.displayname, .col-header {
    color: var(--fg-emphasised);
}
.username, .mention {
    color: var(--orange1) !important;
}
.fields, .bio {
    background-color: var(--gray3) !important;
}
.accountstats {
    background-color: var(--gray4) !important;
}
.hashtag {
    color: var(--blue1) !important;
}
.avatar {
    border: none !important;
}
.fa-rss-square {
    background: none !important;
}
.basic-info .username, .author-strap > .username {
    color: var(--fg-reduced) !important;
}

:root {
    --white1: #dddddd;
    --white2: #888888;
    --white3: #e8e8e8;
    --gray1: #111111;
    --gray2: #191919;
    --gray3: #222222;
    --gray4: #2a2a2a;
    --gray5: #333333;
    --gray6: #3b3b3b;
    --gray7: #444444;
    --gray8: #4c4c4c;
    --orange1: #ffee33;
    --orange2: #ff853e;
    --blue1: #3399dd;
    --blue2: #66befe;
    --blue3: #89caff;
    --error1: #860000;
    --error2: #ff9796;
    --error3: #dd2c2c;
    --error-link: #01318C;
    --green1: #22aa44;
    --info-fg: var(--gray1);
    --info-bg: #b3ddff;
    --info-link: var(--error-link);
    --fg: var(--white1);
    --bg: var(--gray1);
    --bg-trans: rgba(77, 78, 86, 0.62);
    --bg-accent: var(--gray5);
    --fg-accent: var(--orange1);
    --fg-reduced: var(--white2);
    --fg-emphasised: var(--white3);
    --border-accent: var(--orange2);
    --link-fg: var(--green1);
    --role-admin: var(--orange2);
    --role-mod: var(--blue2);
    --profile-bg: var(--gray5);
    --button-bg: var(--blue2);
    --button-fg: var(--gray1);
    --button-hover-bg: var(--blue3);
    --button-danger-bg: var(--error3);
    --button-danger-fg: var(--white1);
    --button-danger-hover-bg: var(--error2);
    --status-bg: var(--gray3);
    --status-info-bg: var(--gray2);
    --status-focus-bg: var(--gray3);
    --staus-focus-info-bg: var(--gray4);
    --no-img-desc-bg: var(--orange1);
    --no-img-desc-fg: var(--gray1);
    --bg-sensitive: var(--gray1);
    --boxshadow: 0 0.4rem 1rem -0.1rem rgba(0,0,0,0.15);
    --boxshadow-border: 0.08rem solid var(--gray1);
    --avatar-border: var(--orange2);
    --input-bg: var(--gray4);
    --input-disabled-bg: var(--gray2);
    --input-border: var(--blue1);
    --input-error-border: var(--error3);
    --input-focus-border: var(--blue3);
    --settings-nav-bg: var(--bg);
    --settings-nav-header-fg: var(--orange2);
    --settings-nav-bg-hover: var(--gray3);
    --settings-nav-fg-hover: var(--fg);
    --settings-nav-bg-active: var(--blue3);
    --settings-nav-border-active: var(--info-bg);
    --settings-nav-fg-active: var(--gray2);
    --error-fg: var(--error1);
    --error-bg: var(--error2);
    --list-entry-bg: var(--gray2);
    --list-entry-alternate-bg: var(--gray3);
    --list-entry-hover-bg: var(--gray4);
    --plyr-color-main: var(--orange2);
    --plyr-video-background: var(--bg-accent);
    --plyr-badge-background: var(--bg-accent);
    --plyr-video-controls-background: var(--bg-accent);
    --plyr-badge-text-color: var(--fg);
    --plyr-badge-border-radius: var(--br);
    --plyr-video-progress-buffered-background: var(--gray8);
