/* mark missing alt text with red outlines */

.galery__image--link[title=""] > img {
    border-style: dashed !important;
    border-color: var(--red) !important;
    border-width: 2px !important;
}

/* workaround to only show posts with attachments (based on column number, has to be repeated for every desired column with its number used in nth-child) */

.main-display__stream-column:nth-child(2) .stream-statuses .stream-toots__content > :not(:has(.attachments)),
.main-display__stream-column:nth-child(6) .stream-statuses .stream-toots__content > :not(:has(.attachments)),
.main-display__stream-column:nth-child(7) .stream-statuses .stream-toots__content > :not(:has(.attachments)) {
    display: none !important;
}
/* the above also hides any posts with content warnings, so below is a workaround that excludes any posts with content warnings because the actual content is not there while the content warning is active and therefore it's probably impossible to filter them for attachments */
.main-display__stream-column:nth-child(2) .stream-statuses .stream-toots__content > :has(.status__content-warning),
.main-display__stream-column:nth-child(6) .stream-statuses .stream-toots__content > :has(.status__content-warning),
.main-display__stream-column:nth-child(7) .stream-statuses .stream-toots__content > :has(.status__content-warning) {
    display: block !important;
}

/* colour usernames, hashtags and links */

a[title^="@"] {
    color: var(--yellow) !important;
}
a[title^="#"] {
    color: var(--blue) !important;
}
a[title="open link"] {
    color: var(--green) !important;
}

/* don’t crop images in preview */

.galery {
    height: unset !important;
}
.galery__image {
    display: grid !important;
    grid-template-columns: auto auto !important;
    gap: 5px;
}
app-attachement-image {
    margin: 0px !important;
    width: 100% !important;
    /*! height:  unset !important; */
}
.galery__img--1 {
    grid-column: span 2
}
.image {
    height: unset !important;
}
.status-media__image {
    height: unset !important;
}

/* smaller CW box */

.status__content-warning {
    min-height: 1.9em !important;
}

/* redesign CW */

.status__content-warning--title {
    display: none !important;
}
.status__content-warning {
    padding: 3px 5px !important;
    border: none !important;
    background-color: var(--gray);
    border-radius: 2px;
}

/* @ before poster username */

.status__name--username:before {
    content: "@";
}

/* make top right post time have the same right margin as everything else*/

.status__created-at {
    right: 10px !important;
}

/* multi-line bio table workaround */

.profile-fields {
    display: grid !important;
    grid-template-columns: auto !important;
}
.profile-fields__field--value, .profile-fields__field--name {
    white-space: unset !important;
}
.profile-fields__field--name {
    background-color: unset !important;
    border-right: none !important;
}

/* remove separators for hidden posts */

.stream-toots__status[_ngcontent-c13]:not(:last-child) {
    border-width: 0 !important;
}
.status-wrapper {
    border-width: 0 0 1px !important;
    border-style: solid !important;
    border-color: var(--background-1) !important;
}

/* main ui margins and sizes (to perfectly fit 3 columns into one half of an FHD monitor) */

/* column width */
.stream-column, .stream-column__stream-header, .stream-column__stream-selector, .stream-statuses, .stream-toots__new-notification, .stream-column, .stream-edition, .stream-overlay {
    width: 306px !important;
}
.sliding-column {
    width: calc(2 * 306px) !important;
}
.sliding-column__right-display {
    left: -306px !important;
}
/* column margins and borders */
.stream-column {
    margin: 0 0 0 1px !important;
    outline: 1px !important;
    outline-color: var(--background-1) !important;
    outline-style: solid !important;
}
.main-display__stream-column {
    width: unset !important;
}
.stream-column__stream-header, .overlay__header, .profile-description {
    border-bottom: 1px solid var(--background-1) !important;
}
/* left bar width */
#display-zone {
    left: 38px !important;
}
.left-bar {
    width: 38px !important;
}
.left-bar-button {
    width: 38px !important;
}
.left-bar-button--status {
    padding: 8px 0 2px 8px !important;
}
.left-bar-button--search {
    padding: 5px 0 0 11px !important;
}
.account-icon {
    width: 32px !important;
    height: 32px !important;
    margin: 0 0 5px 3px !important;
}
.account-icon__avatar {
    width: 32px !important;
    height: 32px !important;
}
.left-bar-button--add {
    padding: 2px 0 5px 13px !important;
}
.left-bar-button--cog {
    padding: 5px 0 5px 7px !important;
}
.app-streams-selection-footer {
    left: 38px !important;
}
/* post opened in column */


/* bigger bottom bar buttons */

.stream-selection {
    width: 20px !important;
}
.stream-selection__column-reprensentation {
    width: 16px !important;
    height: 16px !important;
}
.stream-selection__column-reprensentation--selected {
    height: 21px !important;
}

/* remove bottom bar */

#display-zone {
    bottom: 0px !important;
}
app-streams-selection-footer {
    display: none !important;
}
.floating-column {
    bottom: 0px !important;
}

/* bold poster usernames */

.status__name--displayname {
    font-weight: bold !important;
}

/* bigger floating side column (post, search, accounts etc.) */

.floating-column {
    border-left: 1px solid var(--background-1) !important;
}
.floating-column__inner {
    width: 613px !important;
    margin: 0 !important;
}
.floating-column__inner--left {
    width: 613px !important;
}
.panel__title {
    margin: 4px 0 12px 10px !important;
}
.account__header {
    padding-left: 10px !important;
}
.version, .sub-section > p, .form-section .ng-pristine .ng-valid .ng-touched, .search-result-form > form, app-add-new-account > div > div > form {
    margin-left: 5px !important;
}
.status-editor, .toogle-lock-icon-menu, .language__search, .language__entry {
    margin-right: 5px !important;
}
.status-editor__title, .status-editor__content, .status-editor__footer, .panel__subtitle {
    margin-left: 10px !important;
}
.status-editor__footer {
    margin-right: 0 !important;
}
.status-editor__title {
    border-bottom: solid 1px var(--background1) !important;
}
app-search > div > div > form {
    width: unset !important;
}
.sengi-btn {
    width: calc(100% - 10px) !important;
}
.sound__play {
    width: 65px !important;
}
.language__search {
    width: calc(100% - 4px) !important;
}

/* poster username overflow ellipsis */

.status__name--displayname, .status__name--username {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
.status__name {
    width: calc(100% - 10px) !important;
}
.status__name--displayname {
    width: calc(100% - 30px) !important;
}

/* custom post button */

.status-editor__footer--send-button > span {
    display: none !important;
}
.status-editor__footer--send-button:before {
    content: "Poot!";
}

/* round corners for bottom of post form too instead of just top */

.status-editor__footer {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 8px;
}
.status-editor__footer--send-button {
    border-bottom-right-radius: 2px;
}

/* notification column header layout */

.notifications__selector {
    display: grid !important;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 1px;
    background-color: var(--background-1) !important;
}
.notifications__selector--wrapper {
    position: unset !important;
    width: unset !important;
    border-bottom: solid 1px var(--background-1);
}

/* "post boosted by" overflow and style */

.reblog {
    font-size: unset !important;
    margin: 10px 10px 0 10px !important;
    width: calc(100% - 20px) !important;
    height: 35px;
    display: block !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}
.reblog__profile-link > span:before {
    content: "⇄ ";
    font-weight: 900;
    color: var(--teal);
}
.reblog__avatar {
    top: 0px !important;
    left: 0px !important;
    width: 25px !important;
    height: 25px !important;
}
.reblog__profile-link > span {
    margin-left: 35px !important;
}

/* profile following/follwers buttons */

.profile-follows {
    display: grid !important;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 1px;
    background-color: var(--background-1) !important;
}
.profile-follows__link {
    position: unset !important;
    width: unset !important;
    border-top: solid 1px var(--background-1);
}

/* profile status/replies/media buttons */

.profile__extra-info {
    display: grid !important;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 1px;
    background-color: var(--background-1) !important;
}
.profile__extra-info__section {
    position: unset !important;
    width: unset !important;
    border-bottom: solid 1px var(--background-1);
    margin-right: 0 !important;
}

/* pinned text */

.pinned {
    margin-bottom: 5px !important;
}
.notification--icon {
    left: calc(50% - 40px) !important;;
}
.notification--label {
    margin: 0 10px 0 27px !important;
    text-align: center;
}

/* emoji size */

.emoji-medium {
    width: 32px !important;
    height: 32px !important;
}

/* remove double post separator from replies */

.stream-toots__status[_ngcontent-c44]:not(:last-child) {
    border-width: 0 !important;
}

/* full-width post layout */

/* make post text span full width */
.status__content {
    margin: 25px 10px 0 10px !important;
}
/* make attachments span full width */
.attachments, .status__card {
    margin: 10px 10px 0 10px !important;
}
/* make poster display name and username separate lines */
.status__name, .status__name--displayname, .status__name--username {
    display: block !important;
    margin-left: 0 !important;
}
/* make pfp slightly larger to make room for 3 lines next to it */
.status__avatar {
    width: 60px !important;
    height: 60px !important;
}
.status__profile-link {
    margin: 7px 0 0 80px !important;
}
/* move post labels (e.g. REPLIES) to horizontal list below poster username */
.status__labels {
    top: 50px !important;
    left: 80px !important;
    width: unset !important;
}
.status__labels--label {
    display: inline-block !important;
    width: 5em !important;
    font-size: 9px !important;
}
.status__labels--label:nth-child(n + 2) {
    margin-left: 0.5em !important;
}
/* full-width content warning */
.status__content-warning {
    margin: 28px 10px 0 10px !important;
}
/* full-width post interaction buttons */
.action-bar {
    margin: 0 0 5px 10px !important;
}
/* evenly spaced post interaction buttons */
.action-bar {
    display: grid !important;
    grid-template-columns: auto auto auto auto auto auto !important;
}
.action-bar__link {
    margin-right: 0 !important;
    padding: 0 !important;
}
.action-bar__link--bookmark {
    position: relative !important;
    bottom: -6px !important;
}
.action-bar__link--fav {
    position: relative !important;
    bottom: -5px !important;
}
.action-bar__link--boost {
    position: relative !important;
    bottom: -5px !important;
}
.action-bar__link--reply {
    position: relative !important;
    bottom: -3px !important;
}
.action-bar__envelope, action-bar__lock {
    position: relative !important;
    margin-right: none !important;
    width: unset !important;
    top: unset !important;
    bottom: -5px !important;
}
/* full-width translation button */
.translation {
    margin: 0 10px 0 10px !important;
}

/* remove extra reply bottom border */

.stream-toots__status[_ngcontent-c31]:not(:last-child) {
    border: none !important;
}

/* implement theme colours everywhere */

body, .close-button, .account__header--button--selected, .toogle-lock-icon-menu, .status-editor__content, .form-with-button, .status-editor__title, .content, .stream-column__open-menu, .left-bar-link, .stream-column__stream-selector, .overlay-close, .overlay__button, .card-data__link--host, .profile-follows__link, .profile-header__follow--unfollowed, .context-menu-link__profile, .profile-fields__field--value, .profile__extra-info__section, .profile__extra-info__links, .content-wrapper__expand--link, .lds-ellipsis {
    color: var(--text0) !important;
}
body, .my-account__link--margin-bottom .my-account__link--disabled, .my-account__list--new-list-title, .overlay, .pinned, .themed-form {
    background-color: var(--background-1) !important;
}
.stream-column, .my-account__list--button, .my-account__link--margin-bottom, .my-account__list, .form-control, .status-selected, .status, .profile-name, .profile-fields, .profile-description {
    background-color: var(--background0) !important;
}
.status-editor__title {
    background-color: var(--background-0-2) !important,
}
.status__name--displayname, .notifications__selector__button--selected, .sengi-btn__red, .card-data__link--title, .reblog__profile-link, .profile-name__display-name, .profile-fields__field--name {
    color: var(--text1) !important;
}
.status__name--username, .status__created-at--link, .action-bar__link, .action-bar__envelope, .action-bar__lock, .context-menu-link__status, .stream-column__stream-selector--subtitle, .notifications__selector__button, .overlay__button:hover, .profile-name__fullhandle a, .pinned__label, .pinned__icon, .advanced-settings__text, .translation__link {
    color: var(--text-1) !important;
}
.sound__select, .toogle-lock-icon-menu, .toogle-lock-icon-menu:hover {
    background-color: var(--gray) !important;
}
.stream-column__stream-selector, .left-bar, .streams-selection-footer, .floating-column, .notifications__selector__button, .stream-edition, .overlay__header, .profile-follows__link, .profile__extra-info__section {
    background-color: var(--background1) !important;
}
.status__labels--bot[_ngcontent-c15] {
    background-color: var(--labels-bot) !important;
}
.status__labels--xpost[_ngcontent-c15] {
    background-color: var(--labels-xpost) !important;
}
.status__labels--thread[_ngcontent-c15] {
    background-color: var(--labels-thread) !important;
}
.status__labels--discuss[_ngcontent-c15] {
    background-color: var(--labels-discuss) !important;
}
.status__labels--old[_ngcontent-c15] {
    background-color: var(--labels-old) !important;
}
.status__labels--remote[_ngcontent-c15] {
    background-color: var(--labels-remote) !important;
}
.status__labels--edited[_ngcontent-c15] {
    background-color: var(--labels-edited) !important;
}
.flexcroll {
    scrollbar-color: var(--gray) var(--background1) !important;
}
.flexcroll::-webkit-scrollbar-thumb {
    background: var(--gray) !important;
}
.flexcroll::-webkit-scrollbar-track {
    background: var(--background1) !important;
}
.status-editor__footer, .form-button {
    background-color: var(--gray) !important;
}
.status-editor__footer--send-button, .form-button {
    background-color: var(--yellow) !important;
    color: var(--background0) !important;
    font-weight: bold !important;
}
.my-account__list--new-list-title {
    border-color: var(--background-1) !important;
}
.form-control {
    border-color: var(--background1) !important;
}
.sound__select, .card-data__link {
    border-color: var(--gray) !important;
}
.account__header--button {
    color: var(--gray) !important;
}
.account__header--button:hover {
    color: var(--text-1) !important;
}
.account__header--button--selected, .account__header--button--selected:hover {
    color: var(--text1) !important;
}
.reblog {
    color: var(--teal) !important;
}
.account__header, .profile-follows, .profile-fields__field[_ngcontent-c28]:not(:last-child), .profile-fields {
    border-bottom-color: var(--background-1) !important;
}
.themed-form {
    border-color: var(--background-1) !important;
}
.content-wrapper__expand {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(34,34,34,.33),rgba(34,34,34,.66),var(--background0),var(--background0)) !important;
}
.favorited {
    color: var(--yellow) !important;
}
.boosted {
    color: var(--blue) !important;
}
.bookmarked {
    color: var(--red) !important;
}

/* custom theme colours */

:root {
    --blue:#39d !important;
    --indigo:#6610f2 !important;
    --purple:#6f42c1 !important;
    --pink:#e83e8c !important;
    --red:#b33 !important;
    --orange:#fd7e14 !important;
    --yellow:#fe3 !important;
    --green:#2a4 !important;
    --teal:#299 !important;
    --cyan:#17a2b8 !important;
    --white:#fff !important;
    --gray:#666 !important;
    --gray-dark:#343a40 !important;
    --primary:#007bff !important;
    --secondary:#6c757d !important;
    --success:#39d !important;
    --info:#17a2b8 !important;
    --warning:#fe3 !important;
    --danger:#b33 !important;
    --light:#f8f9fa !important;
    --dark:#343a40 !important;
    /* new variables */
    --text-1: #888 !important;
    --text0: #ddd !important;
    --text1: #e8e8e8 !important;
    --background-1: #111 !important;
    --background0: #222 !important;
    --background0-1: #2a2a2a !important;
    --background1: #333 !important;
    --labels-bot: #007281 !important;
    --labels-xpost: #9c5e00 !important;
    --labels-thread: #007233 !important;
    --labels-discuss: #5a008f !important;
    --labels-old: #960000 !important;
    --labels-remote: #264d94 !important;
    --labels-edited: #5f5f5f !important;
}
